<ion-view view-title="İlanlar">
  <ion-content style="background:#E8E8E8;">
      <div style="background:url(img/ilanlar.jpg) center center; background-size:cover; height:120px; text-align:center;">
      </div>
      <div style="background:#fff; padding:10px; margin:10px;">
          <a class="button button-assertive button-block" href="#/app/ilanlistele/5">
              Personel İlanları
          </a>
          <a class="button button-positive button-block" href="#/app/ilanlistele/2">
              Gastronomi Alım Satım
          </a>
      </div>

      <div style="background:#fff; padding:10px; margin:10px;">
          <div style="text-align:center; color:#000;">
              <b>İlan Vermek Çok Kolay</b>
              <br />
              Gastronomi sektöründe iş arayanların, personel arayanların ve dükkan arayanların buluştuğu platform
          </div>
          <div class="row">
              <div class="col-50">
                  <a class="button button-assertive button-block" href="#/app/ilanver-personel">
                      Personel
                  </a>
              </div>
              <div class="col-50" style="margin-left:5px;">
                  <a class="button button-positive button-block" href="#/app/ilanver-gastronomi">
                      Gastronomi
                  </a>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
